// vars
@import 'variables';
.login__bg {
    background: url('/login-background.png') no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}